body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.search-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.search-form input[type="submit"] {
    margin-top: 10px;
    height: 30px;
    width: 150px;
}
.search-form input[type="text"] {
    height: 20px;
    width: 800px;
    border-radius: 20px;
    padding: 10px;
}
.google-title {
    font-size: 100px;
    margin: 0;
}
.image-subtitle {
    font-size: 15px;
    margin-left: 280px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: rgb(0, 123, 255);
}
.google-links {
    position: absolute;
    top: 20px;
    right: 20px;
}
.google-links a {
    margin-right: 10px;
    margin-left: 10px;
}
div {
    margin-top: 2px;
    margin-bottom: 2px;
}